.branches-page {
    display: flex;
    min-height: 100vh;
    .side {
        margin-left: 175px;
        width: 100%;
        margin-top: 3%;
        padding-right: 1%;
        @media screen and (max-width: 768px) {
            margin-left: 20px;
        }
        h3 {
            font-size: 25px;
            font-weight: 600;
        }
        ul {
            list-style: none;
            display: flex;
            gap: 25px;
            border-bottom: 1px solid rgb(228, 228, 228);
            padding-bottom: 1%;
            margin-top: 2%;
            li {
                font-weight: 400;
                color: rgb(34, 34, 34);
                a.active {
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
        form {
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 550px;
            // margin: 3% auto;
            .pic-change {
                display: flex;
                align-items: center;
                gap: 15px;
                img {
                    max-width: 90px;
                    height: 90px;
                    border-radius: 50%;
                }
                input {
                    display: none;
                }
            }
            .input-group {
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
                label {
                    font-size: 15px;
                }
                input,
                select,
                textarea {
                    padding: 10px;
                    width: 250px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    outline: none;
                    transition: 0.5s;
                    &:focus {
                        border: 1px solid $primary;
                    }
                }
            }
            .save {
                background-color: $primary;
                padding: 10px;
                color: white;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                border: 1px solid $primary;
            }
        }
        .branches {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .branch-card {
                background-color: white;
                width: 700px;
                margin: 0 auto;
                padding: 20px 30px;
                border-radius: 5px;
                box-shadow: 0 6px 20px 0 rgba(204, 224, 224, 0.1);
                position: relative;
                overflow: hidden;
                max-width: 100%;
                .info {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    .logo {
                        max-width: 90px;
                        height: 90px;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    .information {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .name {
                            font-weight: bold;
                            color: $primary;
                            font-size: 18px;
                        }
                        .email,
                        .phone,
                        .address {
                            font-size: 14px;
                            color: #3e5b78;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }
                }
                .current {
                    position: absolute;
                    left: -36px;
                    background-color: $primary;
                    color: #fff;
                    transform: rotate(-45deg);
                    padding: 5px 45px;
                    top: 5px;
                }
            }
            .upgrade {
                background-color: white;
                width: 700px;
                margin: 0 auto;
                padding: 0 30px;
                border-radius: 5px;
                box-shadow: 0 6px 20px 0 rgba(204, 224, 224, 0.1);
                max-width: 100%;
                img {
                    max-width: 250px;
                    margin: 0 auto;
                    display: block;
                }
                h3 {
                    font-size: 18px;
                    text-align: center;
                }
                .upgrade-btn {
                    background-color: #fcc201;
                    padding: 5px 35px;
                    font-size: 16px;
                    border-radius: 25px;
                    margin: 3% auto;
                    display: block;
                    font-weight: 500;
                }
            }
            .add-branches {
                background-color: white;
                width: 700px;
                margin: 0 auto;
                padding: 20px 30px;
                border-radius: 5px;
                box-shadow: 0 6px 20px 0 rgba(204, 224, 224, 0.1);
                max-width: 100%;
                h3 {
                    font-size: 18px;
                    text-align: center;
                }
                .add-btn {
                    background-color: $primary;
                    width: 40px;
                    height: 40px;
                    font-size: 16px;
                    border-radius: 50%;
                    margin: 0 auto;
                    display: block;
                    font-weight: 500;
                    color: white;
                }
            }
        }
    }
}
