.dashboard {
    display: flex;
    min-height: 100vh;
    .side {
        width: 100%;
        .cards {
            display: flex;
            justify-content: space-between;
            margin-top: 5%;
            gap: 15px;
            .card {
                padding: 10px 20px;
                width: 100%;
                box-shadow: 0px 3px 7px 0px #ebebeb;
                border-radius: 25px;
                background: rgba(49, 83, 170, 0.1725490196);
                color: $primary;
                border: 1px solid #336699;
                transition: 0.5s;
                .line {
                    background-color: $primary;
                    height: 3px;
                    width: 75px;
                    border-radius: 50%;
                    transition: 0.5s;
                    opacity: 0.8;
                }
                &:hover {
                    background-color: $primary;
                    color: white;
                    .line {
                        background-color: white;
                    }
                }
                .heading {
                    font-size: 18px;
                    font-weight: 600;
                }
                .count {
                    font-size: 19px;
                    margin-top: 3%;
                    display: block;
                    font-weight: 700;
                    .currency {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
