.history {
    display: flex;
    // min-height: 100vh;
    .side {
        margin-left: 175px;
        width: 100%;
        margin-top: 3%;
        padding-right: 1%;
        @media screen and (max-width: 768px) {
            margin-left: 20px;
        }
        h3 {
            font-size: 25px;
            font-weight: 600;
        }
        .row {
            display: flex;
            gap: 50px;
        }
        .card {
            background-color: white;
            padding: 15px 30px 15px 30px;
            width: 300px;
            max-width: 100%;
            box-shadow: 2px 4px 17px 0px #f3f3f3;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 3%;
            .title {
                color: rgb(145, 145, 145);
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
            }
            .amount {
                display: flex;
                gap: 5px;
                .currency {
                    color: rgb(77, 77, 77);
                    font-size: 16px;
                    position: relative;
                }
                .number {
                    font-size: 28px;
                    font-weight: 600;
                    color: #1e1e1e;
                }
            }
        }
        .invoices {
            .heading {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                @media screen and (max-width: 768px) {
                    flex-wrap: wrap;
                }
                gap: 15px;
                p {
                    font-size: 15px;
                    color: #666;
                }
                .add {
                    background-color: $primary;
                    padding: 10px;
                    color: white;
                    border-radius: 5px;
                    width: 160px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    img {
                        width: 15px;
                    }
                }
            }
        }
    }
}
