.ticket {
    width: 260px;
    max-width: 260px;
    * {
        font-family: "Poppins", sans-serif;
    }
    img {
        max-width: 120px;
        margin: 3% auto;
        display: block;
    }
    .centered {
        text-align: center;
        font-weight: 500;
        line-height: 1.5em;
        font-size: 14px;
    }
    table {
        text-align: center;
        width: 100%;
        tbody {
            line-height: 1.8em;
            width: 100%;
        }
    }
    .line {
        border-top: 1px dashed black;
        margin: 5% auto;
    }
    .side {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    .sides {
        display: flex;
        width: 100%;
        gap: 10px;
        justify-content: space-between;
        .side {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }
    }
}
