.menu {
    display: flex;
    .sides {
        margin-left: 20px;
        display: flex;
        width: 100%;
        gap: 40px;
        .side {
            &:nth-child(1) {
                width: 800px;
                margin-top: 3%;
                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .search {
                        form {
                            display: flex;
                            width: 350px;
                            .search-box {
                                padding: 10px;
                                background: white;
                                width: 100%;
                                outline: none;
                                font-size: 15px;
                            }
                            button {
                                position: relative;
                                right: 30px;
                                color: #4c4c4c;
                                font-size: 19px;
                            }
                        }
                    }
                }
                .categories {
                    margin-top: 5%;
                    overflow: auto;
                    .cards {
                        display: flex;
                        gap: 30px;
                        width: 100%;
                        .card {
                            background-color: white;
                            padding: 12px 23px;
                            border: 1px solid #e5e5e5;
                            border-radius: 15px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 10px;
                            filter: opacity(0.85);
                            transition: 0.5s;
                            cursor: pointer;
                            &.active {
                                border: 1px solid #704332;
                                background-color: #f9d9cd2e;
                                font-weight: 600;
                                filter: opacity(1);
                            }
                            &:hover {
                                filter: opacity(1);
                            }
                            .icon {
                                max-width: 50px;
                                img {
                                    width: 100%;
                                }
                            }
                            .title {
                                color: #704332;
                            }
                        }
                    }
                }
            }
            &:nth-child(2) {
                background-color: white;
                width: 100%;
                padding: 20px;
                .account {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    justify-content: space-between;
                    .avatar {
                        max-width: 50px;
                        img {
                            border-radius: 15px;
                            width: 100%;
                        }
                    }
                    .job-title {
                        display: block;
                        color: #4c4c4c;
                        font-size: 13px;
                    }
                    .fullname {
                        font-weight: 600;
                    }
                    .notification {
                        font-size: 18px;
                        color: #585858;
                    }
                }
                .bills {
                    margin-top: 30px;
                    h2 {
                        font-weight: 600;
                    }
                    .cards {
                        display: flex;
                        flex-direction: column;
                        margin-top: 20px;
                        gap: 20px;
                        .card {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            width: 100%;
                            .image {
                                max-width: 50px;
                                img {
                                    border-radius: 15px;
                                    width: 100%;
                                }
                            }
                            .info {
                                display: flex;
                                flex-direction: column;
                                gap: 2px;
                                width: 100%;
                                .title {
                                    font-weight: 600;
                                    color: #141414;
                                }
                                .quantity {
                                    display: flex;
                                    justify-content: space-between;
                                    .number {
                                        font-weight: 500;
                                        font-size: 15px;
                                    }
                                    .price {
                                        color: #818181;
                                        font-size: 15px;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                    .subtotal {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 30px;
                        font-size: 15px;
                        .title {
                            font-weight: 500;
                        }
                        .price {
                            font-weight: 500;
                        }
                    }
                    .tax {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 15px;
                        .title {
                            color: #4c4c4c;
                        }
                        .price {
                            color: #4c4c4c;
                        }
                    }
                    .total {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-top: 2px dashed rgb(209, 209, 209);
                        padding-top: 5%;
                        margin-top: 2%;
                        .title {
                            font-weight: 600;
                            font-size: 17px;
                        }
                        .price {
                            font-weight: 600;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}
