.menu {
    display: flex;
    .sides {
        margin-left: 175px;
        display: grid;
        grid-auto-columns: 2fr 1fr;
        grid-auto-flow: column;
        width: 100%;
        gap: 20px;
        min-height: 100vh;
        @media screen and (max-width: 768px) {
            margin-left: 20px;
        }
        .side {
            &:nth-child(1) {
                flex: 2 0;
                margin-top: 3%;
                height: 100%;
                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .search {
                        form {
                            display: flex;
                            width: 350px;
                            .search-box {
                                padding: 10px;
                                background: white;
                                width: 100%;
                                outline: none;
                                font-size: 15px;
                                border: none;
                                border-radius: 5px;
                                transition: 0.5s;
                                border: 1px solid white;
                                &:focus {
                                    border: 1px solid #3154aa;
                                }
                            }
                            button {
                                position: relative;
                                right: 30px;
                                color: #4c4c4c;
                                font-size: 19px;
                            }
                        }
                    }
                }
                .categories {
                    margin-top: 5%;
                    .cards {
                        max-width: 800px;
                        .card {
                            background-color: white;
                            padding: 12px 23px;
                            border: 1px solid #e5e5e5;
                            border-radius: 15px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 10px;
                            filter: opacity(0.85);
                            transition: 0.5s;
                            cursor: pointer;
                            &.active {
                                border: 1px solid #3154aa;
                                background-color: #3153aa2c;
                                font-weight: 600;
                                filter: opacity(1);
                                .title {
                                    color: #3154aa;
                                }
                            }
                            &:hover {
                                filter: opacity(1);
                            }
                            .icon {
                                max-width: 50px;
                                img {
                                    width: 100%;
                                }
                            }
                            .title {
                                color: #2c2c2c;
                            }
                        }
                    }
                }
                .products {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
                    margin-top: 4%;
                    gap: 20px;
                    @media screen and (max-width: 768px) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .product {
                        background-color: white;
                        padding: 15px;
                        border-radius: 7px;
                        box-shadow: 3px 2px 13px 1px #f3f3f3;
                        transition: 0.5s;
                        flex: 100%;
                        cursor: pointer;
                        &:hover {
                            .add {
                                visibility: visible;
                            }
                        }
                        .info {
                            display: flex;
                            gap: 15px;
                            .image {
                                width: 100%;
                                max-width: 120px;
                                height: 140px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 15px;
                                    object-fit: cover;
                                }
                            }
                            .details {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                .title {
                                    font-size: 19px;
                                    display: flex;
                                    align-items: center;
                                    font-weight: 600;
                                }
                                .desc {
                                    color: #6e6e6e;
                                    font-weight: 300;
                                    font-size: 15px;
                                }
                                .price {
                                    display: block;
                                    font-weight: bold;
                                    font-size: 20px;
                                    .currency {
                                        font-size: 13px;
                                        position: relative;
                                        bottom: 6px;
                                    }
                                }
                            }
                        }
                        .sizes {
                            margin-top: 5%;
                            h3 {
                                font-weight: 500;
                                font-size: 19px;
                            }
                            .cards {
                                display: flex;
                                gap: 25px;
                                margin-top: 1%;
                                .size {
                                    font-weight: 700;
                                    font-size: 17px;
                                    width: 35px;
                                    height: 35px;
                                    background: rgba(249, 217, 205, 0.28);
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    &.active {
                                        border: 1px solid #3154aa;
                                    }
                                }
                            }
                        }
                        .add {
                            padding: 13px;
                            width: 15px;
                            height: 15px;
                            color: white;
                            border-radius: 50%;
                            border: 1px solid #3154aa;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: auto;
                            background-color: #3154aa;
                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
            &:nth-child(2) {
                background-color: white;
                padding: 20px;
                flex: 1 0;
                margin-left: auto;
                height: 100%;
                .account {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    justify-content: space-between;
                    .avatar {
                        max-width: 50px;
                        img {
                            border-radius: 15px;
                            width: 100%;
                        }
                    }
                    .job-title {
                        display: block;
                        color: #4c4c4c;
                        font-size: 13px;
                    }
                    .fullname {
                        font-weight: 600;
                    }
                    .notification {
                        font-size: 18px;
                        color: #2b2b2b;
                        .badge {
                            background-color: #5b81e0;
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            display: flex;
                            border-radius: 50%;
                            color: white;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            transform: translate(15px, 0px);
                        }
                    }
                }
                .bills {
                    margin-top: 30px;
                    h2 {
                        font-weight: 600;
                    }
                    .cards {
                        display: flex;
                        flex-direction: column;
                        margin-top: 20px;
                        gap: 20px;
                        overflow-y: auto;
                        max-height: 300px;
                        .card {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            width: 100%;
                            .image {
                                max-width: 50px;
                                img {
                                    border-radius: 15px;
                                    width: 100%;
                                }
                            }
                            .info {
                                display: flex;
                                flex-direction: column;
                                gap: 2px;
                                width: 100%;
                                .title {
                                    font-weight: 600;
                                    color: #141414;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    gap: 10px;
                                }
                                .quantity {
                                    display: flex;
                                    justify-content: space-between;
                                    .number {
                                        font-weight: 500;
                                        font-size: 15px;
                                    }
                                    .price {
                                        color: #818181;
                                        font-size: 15px;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                    .subtotal {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 30px;
                        font-size: 15px;
                        .title {
                            font-weight: 500;
                        }
                        .price {
                            font-weight: 500;
                        }
                    }
                    .tax {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 15px;
                        .title {
                            color: #4c4c4c;
                        }
                        .price {
                            color: #4c4c4c;
                        }
                    }
                    .total {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-top: 2px dashed rgb(209, 209, 209);
                        padding-top: 5%;
                        margin-top: 2%;
                        .title {
                            font-weight: 600;
                            font-size: 17px;
                        }
                        .price {
                            font-weight: 600;
                            font-size: 17px;
                        }
                    }
                }
                .payment {
                    margin-top: 30px;
                    .cards {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5%;
                        .card {
                            text-align: center;
                            filter: opacity(0.6);
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            padding: 10px 14px;
                            cursor: pointer;
                            .icon {
                                height: 36px;
                            }
                            &.active {
                                border: 1px solid #3154aa;
                                border-radius: 15px;
                                background: #3154aa;
                                color: white;
                                filter: opacity(1);
                                .icon {
                                    filter: brightness(0) invert(1);
                                }
                            }
                        }
                    }
                }
                .print-bill {
                    background-color: #3154aa;
                    width: 100%;
                    padding: 13px;
                    color: white;
                    border-radius: 7px;
                    font-weight: 500;
                    margin-top: 30px;
                }
            }
        }
    }
}
