.setting {
    display: flex;
    min-height: 100vh;
    .side {
        margin-left: 185px;
        width: 100%;
        margin-top: 3%;
        padding-right: 1%;
        @media screen and (max-width: 768px) {
            margin-left: 20px;
        }
        .container {
            max-width: 540px;
            margin: 3% auto;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .header {
                background-color: #eee;
                width: 100%;
                box-shadow: 0 3px 6px 0 rgba(18, 45, 46, 0.1);
                padding: 5px 10px;
                display: flex;
                justify-content: space-between;
                direction: rtl;
                h3 {
                    font-size: 15px;
                }
                a {
                    direction: ltr;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 14px;
                }
            }
            .info {
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: center;
                .logo {
                    width: 100px;
                    height: 100px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .information {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    .name {
                        font-weight: bold;
                        color: $primary;
                        font-size: 20px;
                    }
                    .email,
                    .phone,
                    .package {
                        font-size: 14px;
                        color: #3e5b78;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        .upgrade {
                            background-color: #fcc201;
                            padding: 0px 10px;
                            border-radius: 5px;
                            font-weight: bold;
                            font-size: 11px;
                        }
                    }
                }
            }
            .edit-company-btn {
                width: 100%;
                padding: 5px;
                color: white;
                border-radius: 5px;
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: center;
                background-color: rgba(49, 83, 170, 0.1725490196);
                color: $primary;
                font-weight: bold;
            }
            .links {
                display: flex;
                flex-direction: column;
                li {
                    border-bottom: 1px solid #3366992e;
                    background: white;
                    box-shadow: 4px 3px 20px 0px #e7e7e796;
                    padding: 7px 10px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    width: 100%;
                    .icon {
                        background-color: rgba(49, 83, 170, 0.116);
                        padding: 5px 10px;
                        border-radius: 5px;
                        color: $primary;
                    }
                    .title {
                        display: flex;
                        flex-direction: column;
                        .title {
                            font-weight: bold;
                            font-size: 14px;
                        }
                        .desc {
                            font-size: 13px;
                            color: $primary;
                        }
                    }
                }
            }
            .branches {
                display: flex;
                flex-direction: column;
                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 7px 10px;
                    .delete {
                        img {
                            max-width: 25px;
                        }
                    }
                }
            }
        }
        h3 {
            font-size: 25px;
            font-weight: 600;
        }
        form {
            // margin-top: 3%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 550px;
            background-color: white;
            padding: 50px 25px;
            border-radius: 5px;
            box-shadow: 0 3px 6px 0 rgba(18, 45, 46, 0.1);
            .pic-change {
                display: flex;
                align-items: center;
                gap: 15px;
                margin: 0 auto;
                img {
                    max-width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                input {
                    display: none;
                }
            }
            .input-group {
                display: flex;
                flex-direction: column;
                gap: 5px;
                label {
                    font-size: 15px;
                }
                input,
                select,
                textarea {
                    padding: 10px;
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    outline: none;
                    transition: 0.5s;
                    &:focus {
                        border: 1px solid $primary;
                    }
                }
            }
            .save {
                background-color: $primary;
                padding: 10px;
                color: white;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                border: 1px solid $primary;
            }
        }
    }
    .users {
        display: flex;
        flex-direction: column;
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 7px 10px;
            .delete {
                img {
                    max-width: 25px;
                }
            }
        }
    }
}
