@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-Black.ttf");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #f9f8fb;
}

.app-en {
  direction: ltr;
  text-align: left;
  min-height: 100vh;
}

.app-en * {
  font-family: "Poppins", sans-serif;
}

.app-ar {
  text-align: right;
  direction: rtl;
  min-height: 100vh;
}

.app-ar * {
  font-family: "Cairo", sans-serif !important;
}

.app-ar .sidebar {
  right: 0;
  left: auto;
  -webkit-box-shadow: 4px 15px 20px 8px #f1f1f1;
          box-shadow: 4px 15px 20px 8px #f1f1f1;
}

.app-ar .side {
  margin-right: 175px;
  margin-left: auto !important;
  padding-left: 1%;
  padding-right: auto !important;
}

@media screen and (max-width: 768px) {
  .app-ar .side {
    margin-right: 0;
  }
}

.app-ar .menu-sides {
  margin-left: auto !important;
  margin-right: 175px;
}

.app-ar .menu-sides .menu-side:nth-child(1) .heading .search button {
  right: -35px !important;
}

.btn {
  background-color: #7e74f1;
  padding: 10px;
  width: 120px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 3%;
  display: block;
}

.btn:focus {
  background-color: #675af8;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.action-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.action-btns .show-action,
.action-btns .delete-action,
.action-btns .edit-action {
  background: #3154aa;
  padding: 5px 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 5px;
}

.action-btns .show-action img,
.action-btns .delete-action img,
.action-btns .edit-action img {
  max-width: 20px;
}

.login {
  min-height: 100vh;
}

.login .sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 100vh;
}

.login .sides .side {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.login .sides .side:nth-child(1) {
  text-align: center;
  background: #3154aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .login .sides .side:nth-child(1) {
    display: none;
  }
}

.login .sides .side:nth-child(1) .image {
  width: 400px;
  height: 400px;
  max-width: 100%;
}

.login .sides .side:nth-child(1) .text {
  color: white;
  max-width: 250px;
}

.login .sides .side:nth-child(1) .text h4 {
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}

.login .sides .side:nth-child(1) .text p {
  line-height: 1.6em;
  font-size: 15px;
  font-weight: 300;
}

@media screen and (max-width: 768) {
  .login .sides .side:nth-child(1) {
    display: none;
  }
}

.login .sides .side:nth-child(2) {
  padding: 40px;
}

.login .sides .side:nth-child(2) .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
}

.login .sides .side:nth-child(2) .header .brand {
  max-width: 100px;
}

.login .sides .side:nth-child(2) .header .brand img {
  width: 100%;
}

.login .sides .side:nth-child(2) .header .lang-switcher {
  font-weight: bold;
  font-size: 15px;
}

.login .sides .side:nth-child(2) .header .lang-switcher .link {
  color: #727272;
}

.login .sides .side:nth-child(2) .header .lang-switcher .active {
  color: black !important;
}

.login .sides .side:nth-child(2) h4 {
  text-align: center;
}

.login .sides .side:nth-child(2) .form {
  max-width: 400px;
  margin: 5% auto;
}

.login .sides .side:nth-child(2) .form h2 {
  text-align: center;
  font-weight: bold;
}

.login .sides .side:nth-child(2) .form p {
  text-align: center;
  color: #b0b3c4;
}

.login .sides .side:nth-child(2) .form form {
  text-align: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.login .sides .side:nth-child(2) .form form .form-group .input-label {
  display: inline-block;
  background: white;
  position: relative;
  top: 13px;
  left: 15px;
  right: 15px;
  color: #4b4b4b;
}

.login .sides .side:nth-child(2) .form form .form-group #email-input,
.login .sides .side:nth-child(2) .form form .form-group #password-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login .sides .side:nth-child(2) .form form .form-group:focus-within #email-input,
.login .sides .side:nth-child(2) .form form .form-group:focus-within #password-input {
  border: 1px solid #3154aa;
}

.login .sides .side:nth-child(2) .form form .form-group:focus-within .input-label {
  color: #3154aa;
}

.login .sides .side:nth-child(2) .form form .login-btn {
  background-color: #3154aa;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login .sides .side:nth-child(2) .form form .login-btn:focus {
  background-color: #4065c4;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu-sides {
  margin-left: 175px;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 2fr 1fr;
  grid-auto-flow: column;
  width: 100%;
  gap: 20px;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .menu .menu-sides {
    margin-left: 20px;
  }
}

.menu .menu-sides .menu-side:nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2 0;
          flex: 2 0;
  margin-top: 3%;
  height: 100%;
}

.menu .menu-sides .menu-side:nth-child(1) .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .menu-sides .menu-side:nth-child(1) .heading .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
}

.menu .menu-sides .menu-side:nth-child(1) .heading .search form .search-box {
  padding: 10px;
  background: white;
  width: 100%;
  outline: none;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid white;
}

.menu .menu-sides .menu-side:nth-child(1) .heading .search form .search-box:focus {
  border: 1px solid #3154aa;
}

.menu .menu-sides .menu-side:nth-child(1) .heading .search form button {
  position: relative;
  right: 30px;
  color: #4c4c4c;
  font-size: 19px;
}

.menu .menu-sides .menu-side:nth-child(1) .categories {
  margin-top: 5%;
}

.menu .menu-sides .menu-side:nth-child(1) .categories .cards {
  max-width: 800px;
}

.menu .menu-sides .menu-side:nth-child(1) .categories .cards .card {
  background-color: white;
  padding: 12px 23px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-filter: opacity(0.85);
          filter: opacity(0.85);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.menu .menu-sides .menu-side:nth-child(1) .categories .cards .card.active {
  border: 1px solid #3154aa;
  background-color: #3153aa2c;
  font-weight: 600;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.menu .menu-sides .menu-side:nth-child(1) .categories .cards .card.active .title {
  color: #3154aa;
}

.menu .menu-sides .menu-side:nth-child(1) .categories .cards .card:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.menu .menu-sides .menu-side:nth-child(1) .categories .cards .card .icon {
  max-width: 50px;
  height: 50px;
}

.menu .menu-sides .menu-side:nth-child(1) .categories .cards .card .icon img {
  width: 100%;
  height: 100%;
}

.menu .menu-sides .menu-side:nth-child(1) .categories .cards .card .title {
  color: #2c2c2c;
}

.menu .menu-sides .menu-side:nth-child(1) .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin-top: 4%;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .menu .menu-sides .menu-side:nth-child(1) .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu .menu-sides .menu-side:nth-child(1) .products .product {
  background-color: white;
  padding: 15px;
  border-radius: 7px;
  -webkit-box-shadow: 3px 2px 13px 1px #f3f3f3;
          box-shadow: 3px 2px 13px 1px #f3f3f3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  cursor: pointer;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product:hover .add {
  visibility: visible;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .info .image {
  width: 100%;
  max-width: 120px;
  height: 140px;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .info .image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .info .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .info .details .title {
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .info .details .desc {
  color: #6e6e6e;
  font-weight: 300;
  font-size: 15px;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .info .details .price {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .info .details .price .currency {
  font-size: 13px;
  position: relative;
  bottom: 6px;
  text-transform: uppercase;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .sizes {
  margin-top: 5%;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .sizes h3 {
  font-weight: 500;
  font-size: 19px;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .sizes .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-top: 1%;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .sizes .cards .size {
  font-weight: 700;
  font-size: 17px;
  width: 35px;
  height: 35px;
  background: rgba(249, 217, 205, 0.28);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .sizes .cards .size.active {
  border: 1px solid #3154aa;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .add {
  padding: 13px;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 50%;
  border: 1px solid #3154aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  background-color: #3154aa;
}

.menu .menu-sides .menu-side:nth-child(1) .products .product .add img {
  width: 20px;
  height: 20px;
}

.menu .menu-sides .menu-side:nth-child(2) {
  background-color: white;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-left: auto;
  height: 100%;
}

.menu .menu-sides .menu-side:nth-child(2) .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu-sides .menu-side:nth-child(2) .account .avatar {
  max-width: 50px;
  height: 50px;
}

.menu .menu-sides .menu-side:nth-child(2) .account .avatar img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu .menu-sides .menu-side:nth-child(2) .account .job-title {
  display: block;
  color: #4c4c4c;
  font-size: 13px;
}

.menu .menu-sides .menu-side:nth-child(2) .account .fullname {
  font-weight: 600;
}

.menu .menu-sides .menu-side:nth-child(2) .account .notification {
  font-size: 18px;
  color: #2b2b2b;
}

.menu .menu-sides .menu-side:nth-child(2) .account .notification .badge {
  background-color: #5b81e0;
  position: absolute;
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  -webkit-transform: translate(15px, 0px);
          transform: translate(15px, 0px);
}

.menu .menu-sides .menu-side:nth-child(2) .bills {
  margin-top: 30px;
}

.menu .menu-sides .menu-side:nth-child(2) .bills h2 {
  font-weight: 600;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  overflow-y: auto;
  max-height: 300px;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards .card .image {
  max-width: 50px;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards .card .image img {
  border-radius: 15px;
  width: 100%;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  width: 100%;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards .card .info .title {
  font-weight: 600;
  color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards .card .info .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards .card .info .quantity .number {
  font-weight: 500;
  font-size: 15px;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .cards .card .info .quantity .price {
  color: #818181;
  font-size: 15px;
  font-weight: 500;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  font-size: 15px;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .subtotal .title {
  font-weight: 500;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .subtotal .price {
  font-weight: 500;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .tax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .tax .title {
  color: #4c4c4c;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .tax .price {
  color: #4c4c4c;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px dashed #d1d1d1;
  padding-top: 5%;
  margin-top: 2%;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .total .title {
  font-weight: 600;
  font-size: 17px;
}

.menu .menu-sides .menu-side:nth-child(2) .bills .total .price {
  font-weight: 600;
  font-size: 17px;
}

.menu .menu-sides .menu-side:nth-child(2) .payment {
  margin-top: 30px;
}

.menu .menu-sides .menu-side:nth-child(2) .payment .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
}

.menu .menu-sides .menu-side:nth-child(2) .payment .cards .card {
  text-align: center;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 10px 14px;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menu-sides .menu-side:nth-child(2) .payment .cards .card .icon {
  height: 36px;
}

.menu .menu-sides .menu-side:nth-child(2) .payment .cards .card.active {
  border: 1px solid #3154aa;
  border-radius: 15px;
  background: #3154aa;
  color: white;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.menu .menu-sides .menu-side:nth-child(2) .payment .cards .card.active .icon {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.menu .menu-sides .menu-side:nth-child(2) .print-bill {
  background-color: #3154aa;
  width: 100%;
  padding: 13px;
  color: white;
  border-radius: 7px;
  font-weight: 500;
  margin-top: 30px;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history .side {
  margin-left: 175px;
  width: 100%;
  margin-top: 3%;
  padding-right: 1%;
}

@media screen and (max-width: 768px) {
  .history .side {
    margin-left: 20px;
  }
}

.history .side h3 {
  font-size: 25px;
  font-weight: 600;
}

.history .side .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.history .side .card {
  background-color: white;
  padding: 15px 30px 15px 30px;
  width: 300px;
  max-width: 100%;
  -webkit-box-shadow: 2px 4px 17px 0px #f3f3f3;
          box-shadow: 2px 4px 17px 0px #f3f3f3;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 3%;
}

.history .side .card .title {
  color: #919191;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.history .side .card .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.history .side .card .amount .currency {
  color: #4d4d4d;
  font-size: 16px;
  position: relative;
}

.history .side .card .amount .number {
  font-size: 28px;
  font-weight: 600;
  color: #1e1e1e;
}

.history .side .invoices .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .history .side .invoices .heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.history .side .invoices .heading p {
  font-size: 15px;
  color: #666;
}

.history .side .invoices .heading .add {
  background-color: #3154aa;
  padding: 10px;
  color: white;
  border-radius: 5px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.history .side .invoices .heading .add img {
  width: 15px;
}

.setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.setting .side {
  margin-left: 175px;
  width: 100%;
  margin-top: 3%;
  padding-right: 1%;
}

@media screen and (max-width: 768px) {
  .setting .side {
    margin-left: 20px;
  }
}

.setting .side h3 {
  font-size: 25px;
  font-weight: 600;
}

.setting .side ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1%;
  margin-top: 2%;
}

.setting .side ul li {
  font-weight: 400;
  color: #222222;
}

.setting .side ul li a.active {
  color: #3154aa;
  font-weight: 600;
}

.setting .side form {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 550px;
}

.setting .side form .pic-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.setting .side form .pic-change img {
  max-width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.setting .side form .pic-change input {
  display: none;
}

.setting .side form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setting .side form .input-group label {
  font-size: 15px;
}

.setting .side form .input-group input,
.setting .side form .input-group select,
.setting .side form .input-group textarea {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.setting .side form .input-group input:focus,
.setting .side form .input-group select:focus,
.setting .side form .input-group textarea:focus {
  border: 1px solid #3154aa;
}

.setting .side form .save {
  background-color: #3154aa;
  padding: 10px;
  color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  border: 1px solid #3154aa;
}

.setting .users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.setting .users .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px;
}

.setting .users .item .delete img {
  max-width: 25px;
}

.branches-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.branches-page .side {
  margin-left: 175px;
  width: 100%;
  margin-top: 3%;
  padding-right: 1%;
}

@media screen and (max-width: 768px) {
  .branches-page .side {
    margin-left: 20px;
  }
}

.branches-page .side h3 {
  font-size: 25px;
  font-weight: 600;
}

.branches-page .side ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1%;
  margin-top: 2%;
}

.branches-page .side ul li {
  font-weight: 400;
  color: #222222;
}

.branches-page .side ul li a.active {
  color: #3154aa;
  font-weight: 600;
}

.branches-page .side form {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 550px;
}

.branches-page .side form .pic-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.branches-page .side form .pic-change img {
  max-width: 90px;
  height: 90px;
  border-radius: 50%;
}

.branches-page .side form .pic-change input {
  display: none;
}

.branches-page .side form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.branches-page .side form .input-group label {
  font-size: 15px;
}

.branches-page .side form .input-group input,
.branches-page .side form .input-group select,
.branches-page .side form .input-group textarea {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.branches-page .side form .input-group input:focus,
.branches-page .side form .input-group select:focus,
.branches-page .side form .input-group textarea:focus {
  border: 1px solid #3154aa;
}

.branches-page .side form .save {
  background-color: #3154aa;
  padding: 10px;
  color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  border: 1px solid #3154aa;
}

.branches-page .side .branches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.branches-page .side .branches .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px;
}

.branches-page .side .branches .item .delete img {
  max-width: 25px;
}

.addProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.addProduct .side {
  margin-left: 175px;
  width: 100%;
  margin-top: 3%;
  padding-right: 1%;
}

@media screen and (max-width: 768px) {
  .addProduct .side {
    margin-left: 20px;
  }
}

.addProduct .side h3 {
  font-size: 25px;
  font-weight: 600;
}

.addProduct .side ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1%;
  margin-top: 2%;
}

.addProduct .side ul li {
  font-weight: 400;
  color: #222222;
}

.addProduct .side ul li a.active {
  color: #3154aa;
  font-weight: 600;
}

.addProduct .side form {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 600px;
}

.addProduct .side form .pic-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.addProduct .side form .pic-change img {
  max-width: 90px;
  height: 90px;
  border-radius: 50%;
}

.addProduct .side form .pic-change input {
  display: none;
}

.addProduct .side form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addProduct .side form .input-group label {
  font-size: 15px;
}

.addProduct .side form .input-group input,
.addProduct .side form .input-group select,
.addProduct .side form .input-group textarea {
  padding: 10px;
  width: 300px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.addProduct .side form .input-group input:focus,
.addProduct .side form .input-group select:focus,
.addProduct .side form .input-group textarea:focus {
  border: 1px solid #3154aa;
}

.addProduct .side form .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-top: 1%;
}

.addProduct .side form .cards .size {
  font-weight: 700;
  font-size: 17px;
  width: 35px;
  height: 35px;
  background: #3153aa25;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3154aa;
}

.addProduct .side form .cards .size.active {
  border: 1px solid #3154aa;
}

.addProduct .side form .save {
  background-color: #3154aa;
  padding: 10px;
  color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  border: 1px solid #3154aa;
}

.sidebar {
  background: white;
  padding: 1% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -11px 16px 20px 8px #f1f1f1;
          box-shadow: -11px 16px 20px 8px #f1f1f1;
  max-width: 135px;
  width: 135px;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar .brand {
  width: 100%;
}

.sidebar .brand img {
  width: 100%;
}

.sidebar .items {
  text-align: center;
  margin-top: 20px;
}

.sidebar .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .items ul li {
  color: #797979;
  padding: 10px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .items ul li a {
  display: block;
}

.sidebar .items ul li a.active {
  background-color: #3154aa;
  width: 100%;
  border-radius: 15px;
  color: white;
  padding: 10px 15px;
}

.sidebar .items ul li a.active img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.sidebar .items ul li .title {
  font-size: 13px;
}

.sidebar .items ul li .icon img {
  width: 30px;
}
/*# sourceMappingURL=main.css.map */