$primary: #336699;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: #f7f7f7;
}
.app-en {
    direction: ltr;
    text-align: left;
    * {
        font-family: "Poppins", sans-serif;
    }

    min-height: 100vh;
}
.app-ar {
    text-align: right;
    direction: rtl;
    min-height: 100vh;
    * {
        font-family: "Cairo", sans-serif !important;
    }
    .dashboard {
        .side {
            padding-left: 1%;
            padding-right: 0 !important;
        }
    }
    .sidebar {
        right: 0;
        left: auto;
        box-shadow: 4px 15px 20px 8px rgb(241, 241, 241);
    }
    .side {
        margin-right: 175px;
        @media screen and (max-width: 768px) {
            margin-right: 0 !important;
        }
        margin-left: auto !important;
        padding-left: 1%;
        padding-right: auto !important;
    }
    .menu-sides {
        margin-left: auto !important;
        margin-right: 175px;
        @media screen and (max-width: 768px) {
            margin-right: 0 !important;
        }
        .menu-side:nth-child(1) {
            .heading {
                .search {
                    button {
                        right: -35px !important;
                    }
                }
            }
        }
        .menu-side:nth-child(2) {
            margin-right: auto;
            margin-left: 0 !important;
        }
    }
}
.btn {
    background-color: $primary;
    padding: 10px;
    width: 120px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    margin: 3%;
    display: block;
    &:focus {
        background-color: #675af8;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
button,
input[type="submit"] {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.action-btns {
    display: flex;
    align-items: center;
    gap: 25px;
    .show-action,
    .delete-action,
    .edit-action {
        // padding: 5px 15px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 5px;
        img {
            max-width: 20px;
        }
    }
}
@import "login";
@import "dashboard";
@import "menu";
@import "history";
@import "setting";
@import "branches";
@import "addProduct";
@import "invoice";
@import "upgrade";
@import "components/sidebar";
